$nav-width: 30vw

#nav-toggle
  display: none

.nav-toggle-label
  z-index: 99999
  position: fixed
  top: 40px
  left: 40px
  +until($tablets)
    top: 20px
    left: 20px
  cursor: pointer
  font-family: Oswald
  text-transform: uppercase
  transition: color 500ms linear
  letter-spacing: 0.2em

#nav-toggle:checked
  ~ .menu
    transform: translateX(0)
    .nav-wrapper
      opacity: 1
      pointer-events: none
  ~ label
    color: var(--color-foreground-secondary)
    &:hover
      color: #FE9400

#nav-toggle
  ~ .menu
    transform: translateX(-100vw)
    +from($tablets)
      transform: translateX(-$nav-width)
    .nav-wrapper
      opacity: 0
      pointer-events: none
  ~ label
    color: #541D01
    &:hover
      color: #FE9400

.menu
  bottom: 0
  display: flex
  left: 0
  position: fixed
  z-index: 9999
  flex-direction: column
  letter-spacing: 0.3rem
  font-family: Oswald
  text-transform: uppercase
  font-size: $type-size-xl
  align-items: center
  transition: background 1s ease, transform 1s ease
  background: var(--color-background)
  height: 100vh
  color: var(--color-foreground-primary)
  justify-content: center
  width: $nav-width
  padding: 20vh 0 20vh 60px
  +until($tablets)
    width: 100vw
  .nav-wrapper
    align-self: center
    display: flex
    flex-grow: 1
    width: 100%
    flex-direction: column
    transition: opacity 600ms ease
    justify-content: space-between
    flex-direction: column

    .main
      pointer-events: auto
      display: flex
      flex-direction: column
      a
        cursor: pointer
        flex-grow: 1
        padding-bottom: 20px
        border-bottom: 0
        transition: color 300ms ease
        margin-bottom: 20px
        transition: color 200ms ease
        &:hover
          color: #FE9400
      a[aria-current]
        color: var(--color-foreground-primary)
        border-right: 20px solid var(--color-foreground-primary)

    .sub
      pointer-events: all
      font-size: $type-size-s
      display: flex
      flex-direction: column
      .nav-item
        margin-bottom: 20px
        a
          border-bottom: 0
          &:hover
            color: #FE9400

.network
  pointer-events: all
  a
    margin-right: 20px
    border-bottom: 0
    transform: scale(1.5)
    &:hover
      color: #FE9400
