.section
  &.scrollimage
    padding: 100px 0
    +from($tablets)
      margin-bottom: -20%
    .content
      .image
        border-radius: 4px
        overflow: hidden
        grid-column: 2 / span 3

        +from($tablets)
          &:nth-child(1)
            grid-column: 2 / span (2 * 3)
          &:nth-child(2)
            grid-column: 6 / span 5
            position: relative
            top: -50%

        +from($desktops)
          &:nth-child(1)
            grid-column: 2 / span (2 * 7) + 1
          &:nth-child(2)
            +image-shadow
            grid-column: 14 / span (2 * 6) + 1
            position: relative
            top: -80%

.section
  &.scrollimage-cite
    margin: 100px 0
    +from($tablets)
      margin-top: -200px
      margin-bottom: 10%
    .content
      .cite
        font-family: Charlevoix Pro
        text-transform: uppercase
        background: var(--color-night)
        letter-spacing: 0.25em
        padding: 30px
        grid-column: 2 / span 3
        position: relative
        top: 50px
        z-index: +1
        +until($tablets)
          font-size: $type-size-s
        +from($tablets)
          top: 400px
          grid-column: 2 / span 4
        +from($desktops)
          grid-column: 4 / span 10

      .image
        border-radius: 4px
        overflow: hidden
        grid-column: 1 / span 5

        +from($tablets)
          grid-column: 4 / span 8

        +from($desktops)
          +image-shadow
          grid-column: 8 / span (2 * 8) + 1
