.section
  &.title
    background-size: cover
    background-position: center
    border-bottom: 5px solid var(--color-background)
    +until($tablets)
      height: 100vh
      background-attachment: scroll
    +from($tablets)
      height: 100vh
      background-attachment: fixed
    .content
      grid-template-rows: 128px 2fr

.spacer
  width: 100vw
  height: $type-size-xxl * 4.0
  background: var(--color-background)

.topbar
  background: var(--color-background)
  height: 128px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 0 30px
  width: 100%
  grid-column: 1 / span 5
  +from($tablets)
    grid-column: span (3 * 2)
  +from($desktops)
    grid-column: span ((12 * 2 + 3) - 12)
  .back-button
    position: fixed
    left: 60px
    top: 60px
    +until($tablets)
      left: 20px
      top: 40px
      border-radius: 100%
      background: var(--color-background)
      height: 60px
      width: 60px
      justify-content: center
      align-items: center
      display: flex
    z-index: 9999
    text-decoration: none
    border: 0
    margin: 0
    padding: 0
    transition: transform 500ms ease
    display: flex
    flex-direction: row
    align-items: center
    .icon-arrow
      opacity: 0.5
    .to
      position: relative
      text-transform: uppercase
      margin-right: 100px
      letter-spacing: 0.25em
    &:hover
      transform: translateX(0)
      .icon-arrow
        opacity: 1.0
        transform: translateX(30px)
  .location
    flex-grow: 1
    text-align: right
    .subheadline
      letter-spacing: 0.5em
      font-size: 0.8em
    .headline
      text-transform: uppercase
      letter-spacing: 0.2em
      font-size: 1.25em

.dates
  align-self: start
  background: var(--color-snow)
  color: var(--color-night)
  display: flex
  padding: 10px 20px
  line-height: 2.0em
  flex-direction: column
  justify-content: center
  align-items: center
  font-family: Oswald
  font-size: 0.8em
  position: relative
  grid-column: 4 / span 3
  justify-self: end
  +from($tablets)
    grid-column: span 3
    height: 128px
    margin: 0
    font-size: 1em
    padding: 0 50px
    justify-self: start
  .year
    border-bottom: 1px solid var(--color-night)
    width: 100%
    text-align: center
    padding-bottom: 5px
  .day-dates
    margin-top: 5px
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-between
    align-items: center
    justify-content: center
  .arrow
    margin: 0 10px
    line-height: 0.5


.titles
  z-index: 2
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  align-self: flex-end
  background: var(--color-background)
  padding: 50px
  grid-column: 1 / span 5
  top: 20vh
  +from($tablets)
    grid-column: 3 / span ((12 * 2 + 3) - 4)
  +from($desktops)
    grid-column: 10 / span ((12 * 2 + 3) - 6)
  .subtitle
    font-size: 1.0em
    line-height: 2.5
    +from($tablets)
      font-size: 1.5em
      line-height: 3.0
    +from($desktops)
      font-size: 1.5em
      line-height: 2.0
  .title
    font-size: 2em
    padding-left: 3vw
    +from($tablets)
      font-size: 4em
      padding-left: 3vw
    +from($desktops)
      font-size: 4em
      padding-left: 3.5vw
      position: relative
      line-height: 1
