.section
  &.final
    background-size: cover
    background-position: center
    border-bottom: 5px solid var(--color-background)
    +until($tablets)
      height: 60vh
      background-attachment: scroll
    +from($tablets)
      background-attachment: fixed
      height: 60vh

    .spacer
      background: var(--color-background)
      height: 100px
      z-index: 1
      &.first
        width: 60vw
      &.second
        align-self: flex-end
        right: 0
        width: 30vw
