.section
  &.press
    .content
      padding-bottom: 100px
      .heading
        justify-content: flex-start
        grid-column: 2 / span 3
        margin-top: 30px
        margin-bottom: 50px
        +from($tablets)
          grid-column: 4 / span 8
          margin-top: 100px
        +from($desktops)
          grid-column: 8 / span (2 * 6)

      .articles
        grid-column: 2 / span 3
        display: grid
        grid-gap: 20px
        grid-template-columns: repeat(1, 1fr)
        +from($tablets)
          grid-column: 2 / span 8
          grid-template-columns: repeat(3, 1fr)
          grid-gap: 60px
        +from($desktops)
          grid-column: 4 / span (2 * 12 - 3)

        .article
          border-bottom: 0
          +from($tablets)
            padding-bottom: 30px
            &:nth-child(1)
              margin-top: -30px
            &:nth-child(2)
              margin-top: 50px
            &:nth-child(3)
              margin-top: -12px
          .date
            opacity: 0.75
            display: flex
            flex-direction: row
            align-items: center
            position: relative
            margin-bottom: 10px
            font-family: Oswald
            +from($tablets)
              left: -30px
            svg
              margin-right: 20px
          .newstitle
            font-size: $type-size-m
          .source
            font-size: $type-size-s
