.section
  &.gallery
    height: 100vh
    .content
      margin: 120px 0
      width: 100%
      height: 100%

\:root
  --fadeTimeInSec: 0.5s
  --growTimeInSec: 30s

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes grow
  0%
    transform: scale(1)
  100%
    transform: scale(1.25)

.heading
  grid-column: span (12 * 2 + 3)
  display: flex
  justify-content: center

#images
  display: none !important

.gallery
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  flex-grow: 1
  object-fit: cover
  min-height: 80vh
  grid-column: span 5
  +from($tablets)
    grid-column: 1 / span ((12 * 2 + 3) - 4)
  +from($desktops)
    grid-column: 4 / span ((12 * 2 + 3) - 6)

.presented
  position: absolute
  opacity: 0
  animation: fadeIn 2s ease, grow var(--growTimeInSec) linear
  animation-fill-mode: forwards
  width: 100%
  object-fit: cover

.fade-out
  animation: fadeOut var(--fadeTimeInSec) ease, grow var(--growTimeInSec) linear
  animation-fill-mode: forwards

.shown
  opacity: 0
  animation: fadeIn 2s ease
  animation-fill-mode: forwards

.preload
  display: none

.stage
  overflow: hidden
  position: relative
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  width: calc(100% - 2 * 32px)
  margin: 0 auto
  flex-grow: 1
  +until($tablets)
    width: 100%
  img
    width: auto
    height: auto
    max-width: 100%
    max-height: 100%

button
  position: absolute
  background: none
  border: none
  font-size: 1em
  font-face: monospace
  color: var(--color-foreground-primary)
  width: 50px
  height: 50px
  border-radius: 100%
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 0 0 3px
  margin: 0
  z-index: 3
  &:active,
  &:focus
    border: 0
    outline: 0
  &:hover
    cursor: pointer
  &.next
    right: 1rem
    +until($tablets)
      transform: scale(0.6)
  &.previous
    left: 1rem
    +until($tablets)
      transform: scale(0.6)
  &.toggle-fullscreen
    padding: 0
    background: none
    font-size: 2em
    top: 1rem
    right: 1rem
    transition: transform 500ms ease
    +until($tablets)
      transform: scale(0.6)

.fullscreen
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: rgba(0, 0, 0, 0.97)
  display: flex
  z-index: 999
  .toggle-fullscreen
    transform: rotate(180deg)
    transform-origin: center
    transition: transform 500ms ease
    +until($tablets)
      transform: scale(0.6) rotate(180deg)
