.section
  &.textblock
    margin-bottom: 2.0 * $type-size-xl
    .content
      grid-template-rows: repeat(3, auto)
      +from($tablets)
        grid-template-rows: repeat(3, auto)

      .subheading
        font-size: $type-size-m
        position: relative
        grid-column: 2 / span 3
        margin-bottom: $type-size-m
        z-index: 2
        +from($tablets)
          grid-column: 3 / span 7
          right: 8%
        +from($desktops)
          grid-column: 6 / span (12 * 2 + 3)
          right: 10%

      .heading
        font-size: $type-size-xl
        text-align: left
        grid-column: 2 / span 3
        margin-bottom: $type-size-m
        display: inline-block
        line-height: 1.2
        +from($tablets)
          grid-column: 2 / span 7
          font-size: $type-size-xxl
          line-height: 1.0
        +from($desktops)
          grid-column: 4 / span (12 * 2)
          font-size: $type-size-xxl * 1.5
          line-height: 1.0

      .text,
      .row
        grid-column: 2 / span 3
        max-width: 60ch
        +from($tablets)
          grid-column: 2 / span 8
        +from($desktops)
          grid-column: 6 / span ((10 * 2 + 3) - 6)
