.next-projects
  .headline
    text-align: center
    width: 100%
    font-size: $type-size-s
    letter-spacing: 0.3em
    +from($tablets)
      margin-bottom: 200px
  .content
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: stretch
    width: calc(100vw - 2 * 16px)
    +from($tablets)
      width: 80vw
      grid-gap: 60px
      max-height: 50vh
      flex-direction: row
    +from($desktops)
      width: 80vw
      grid-gap: 60px
    .next-project
      background-size: cover
      background-position: center
      border-bottom: 0
      display: flex
      flex-direction: column
      height: 25vh
      margin: 50px 0 30px
      padding: 0
      justify-content: space-between
      +until($tablets)
        height: 50vh
      +from($tablets)
        margin-right: 50px
      &:hover
        .title-location
          transform: translateY(-50px)
        .details
          transform: translateY(50px)
      +from($tablets)
        width: 30vw
        height: 40vh
        &:nth-child(2)
          position: relative
          top: -150px
        &:nth-child(3)
          position: relative
          top: -50px

      .title-location
        align-self: flex-start
        transition: transform 300ms ease
        will-change: transform
        text-align: left
        line-height: 1
        font-size: 0.6em
        top: 100px
        background: var(--color-night)
        padding: 30px
        position: relative
        top: -30px
        left: -20px
        +from($tablets)
          top: -50px
          left: -50px
        .where
          line-height: 1.5
          text-align: left
          margin-top: 20px
          font-size: 1.6em
          .location
            font-weight: bold

      .details
        transition: transform 300ms ease
        will-change: transform
        justify-content: flex-end
        text-align: center
        flex-direction: row
        display: flex
        right: -5px
        bottom: -10px
        position: relative
        +from($tablets)
          right: -20px
          bottom: -20px
        .date
          +drop-shadow
          max-width: 160px
          flex-grow: 1
          background: var(--color-foreground-primary)
          color: var(--color-background)
          display: flex
          flex-direction: column
          font-family: Oswald
          font-size: 0.8em
          align-self: flex-end
          position: relative
          right: 0
          +from($tablets)
            padding: 20px 15px
          +until($desktops)
            padding: 15px 0
          .year
            font-weight: bold
            margin: 0 40px
            border-bottom: 1px solid var(--color-background)
