@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

.page
  &.project
    background: var(--color-background)
    color: var(--color-foreground-primary)

.project-main
  background: var(--color-background)
  width: 100vw
  max-width: 100vw
  display: flex
  flex-direction: column
  opacity: 0
  animation: fade-in 3s 200ms ease
  animation-fill-mode: both

  .section
    width: 100vw
    margin: 0
    display: flex
    flex-direction: column

    .content
      flex-grow: 1
      display: grid
      grid-template-columns: 32px 1fr 16px 1fr 32px
      grid-row-gap: 0
      +from($tablets)
        grid-template-columns: 60px repeat(4, 1fr 16px) 1fr 60px
      +from($desktops)
        grid-template-columns: 90px repeat(12, 1fr 16px) 1fr 90px

.footer
  &.project
    padding-top: 10vh
