.section
  &.video
    padding: 100px 0
    .content
      .video
        grid-column: 1 / span 5
        height: 50vw
        +from($tablets)
          grid-column: 2 / span 9
          right: 8%
        +from($desktops)
          grid-column: 4 / span (12 * 2 - 2)
          right: 10%

.video
  display: flex
  flex-direction: column
  iframe
    height: 100%
    width: 100%
