.section
  &.textimage
    margin: 50px 0
    .content
      grid-template-rows: repeat(1, auto)
      +from($tablets)
        grid-template-rows: repeat(3, auto)

      .subheading
        font-size: $type-size-m
        position: relative
        grid-column: 2 / span 3
        margin-bottom: $type-size-m
        +from($tablets)
          grid-column: 3 / span 7
          right: 8%
        +from($desktops)
          grid-column: 6 / span (12 * 2 + 3)
          right: 10%

      .heading
        font-size: $type-size-xl
        text-align: left
        margin-bottom: $type-size-m
        display: inline-block
        line-height: 1.2
        grid-column: 2 / span 3
        +from($tablets)
          grid-column: 2 / span (2 * 8)
          font-size: $type-size-xxl
          line-height: 1.0
        +from($desktops)
          grid-column: 2 / span (2 * 6)
          font-size: $type-size-xxl
          line-height: 1.0
          position: relative
          left: 10%

      .text-col
        max-width: 60ch
        text-align: left
        grid-column: 2 / span 3
        margin-bottom: 50px
        +from($tablets)
          grid-column: 2 / span 5
        +from($desktops)
          grid-column: 2 / span (6 * 2)

      .image-col
        position: relative
        grid-column: 1 / span 5
        align-self: end
        +from($tablets)
          grid-column: 8 / span 4
          align-self: center
          top: -15%
        +from($desktops)
          top: -15%
          grid-column: 16 / span (6 * 2)
          align-self: center
