@import ../../1-tools/_shadows

.dossier
  width: 100vw

.dossier-header
  +until($tablets)
    padding-top: 40px
  will-change: transform
  position: fixed
  z-index: 99
  background-color: var(--color-foreground-primary)
  width: 100vw
  padding-top: 5vh
  .preheading
    font-size: $type-size-xxl / 3.0
    position: relative
    left: -30px
    +until($tablets)
      font-size: $type-size-s / 2.0
      top: -10px
  .title
    font-size: $type-size-xxl * 2
    line-height: 0.5
    +until($tablets)
      padding-bottom: 4vh
      font-size: $type-size-xxl

  .years
    background-color: var(--color-foreground-primary)
    z-index: 999
    display: flex
    margin: 0 auto
    flex-wrap: wrap
    align-items: center
    padding: 30px
    padding-top: 50px
    margin: 0 30px
    line-height: 1.5
    +until($tablets)
     padding: 5px 16px 16px
    +from($tablets)
      position: relative
      padding: 30px
      top: 40px
    .year
      span
        font-family: Charlevoix Pro
        opacity: 0.2
        letter-spacing: 0.25em
      font-family: Oswald
      font-size: $type-size-s
      letter-spacing: 0.1em
      margin: 0 20px
      border-bottom: 0

.dossier-projects
  +until($tablets)
    margin-top: 120px
  margin-top: 120px
  display: grid
  grid-template-columns: 1fr
  grid-gap: 30px

  .year-section
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
    line-height: 1
    padding: 30px 16px 10px
    border-bottom: 1px solid var(--color-background)
    margin: 0 16px
    width: 50%
    .year
      position: relative
      top: 50px
      left: 85%
    +from($tablets)
      width: 20%
      margin: 10vh 0 1vh
      margin-left: 20vw
      &:nth-child(1)
        margin-top: 20px
      &.section-0
        width: 28%
        .year
          top: $type-size-xxl / 2.1
      &.section-1
        width: 30%
        .year
          top: $type-size-xxl / 2.7
      &.section-2
        width: 25%
        .year
          top: $type-size-xxl / 2.0
      .year
        font-size: $type-size-xxl * 1
        position: relative
        right: -250px
        top: $type-size-xxl / 2.5

  .projects-per-year
    display: grid
    grid-template-columns: 16px 1fr 16px
    +from($tablets)
      grid-template-columns: 20px 1fr 1fr 20px
      grid-gap: 50px
    +from($desktops)
      grid-template-columns: 60px 1fr 1fr 60px
      grid-gap: 60px

    .dossier-project
      border-bottom: 0
      display: flex
      flex-direction: column
      height: 60vh
      grid-column: 2 / span 1
      +from($tablets)
        grid-column: 2 / span 1
        &:nth-child(2n)
          grid-column: 3 / span 1
          margin-top: 100px
        &:nth-child(3n)
          margin-top: -150px
      .dates
        transition: top 300ms ease, box-shadow 300ms ease
        will-change: top
        display: flex
        flex-direction: row
        justify-content: center
        background: var(--color-snow)
        color: var(--color-background)
        border: 2px solid var(--color-background)
        z-index: +1
        padding: 40px 20px
        min-width: 30%
        position: relative
        top: 20px
        +from($tablets)
          right: 30px
        svg
          margin: 0 10px
      .hero-image
        +image-shadow-light
        will-change: transform, box-shadow
        transition: transform 450ms ease, box-shadow 450ms ease
        background-size: cover
        background-position: center
        flex-grow: 3
        position: relative
        width: 100%
        height: 100%
        top: -10%
        min-height: 50vh
        overflow: hidden
        border-radius: 3px
      .hero-infos
        transition: top 300ms ease
        position: relative
        right: -15px
        top: -200px
        +until($tablets)
          top: -150px
        .location
          background: var(--color-background)
          color: var(--color-foreground-primary)
          padding: 5px 20px
          position: relative
          left: -5%
          z-index: +1
        .name
          background: var(--color-background)
          color: var(--color-foreground-secondary)
          display: flex
          justify-content: center
          align-items: center
          position: relative
          width: 90%
          top: -20px
          padding: 30px 30px 25px
          line-height: 1
          font-size: $type-size-xxl
          +until($tablets)
            font-size: $type-size-l
      &:hover
        .dates
          +image-shadow-light
          top: -10px
        .hero-image
          +shadow-hover
          transform: translateY(-3px)
        .hero-infos
          top: -150px
