\:root
  --color-background: hsl(266, 9%, 9%)
  --color-foreground-primary: hsl(27, 60%, 95%)
  --color-foreground-secondary: hsl(33, 36%, 80%)
  --color-snow: hsl(210, 5%, 96%)
  --color-night: hsl(260, 11%, 5%)
