@font-face
  font-family: "Space Mono"
  src: url('../fonts/space-mono/SpaceMono-Regular.eot') format('eot')
  src: url('../fonts/space-mono/SpaceMono-Regular.svg') format('svg')
  src: url('../fonts/space-mono/SpaceMono-Regular.ttf') format('truetype')
  src: url('../fonts/space-mono/SpaceMono-Regular.woff') format('woff')
  src: url('../fonts/space-mono/SpaceMono-Regular.woff2') format('woff2')


@font-face
  font-family: "Moon 2.0"
  src: url('../fonts/moon/Moon2.0-Regular.eot') format('eot')
  src: url('../fonts/moon/Moon2.0-Regular.svg') format('svg')
  src: url('../fonts/moon/Moon2.0-Regular.ttf') format('truetype')
  src: url('../fonts/moon/Moon2.0-Regular.woff') format('woff')


@font-face
  font-family: Charlevoix Pro
  src: url('../fonts/charlevoix/CharlevoixPro-Thin.otf') format('opentype')


@font-face
  font-family: Hatton
  src: url('../fonts/hatton/Hatton-Variable.ttf') format('truetype')


@font-face
  font-family: Oswald
  src: url('../fonts/oswald/Oswald-ExtraLight.ttf') format('truetype')


@font-face
  font-family: Raleway
  font-style: regular
  font-display: swap
  src: url('../fonts/raleway/Raleway-Light.ttf') format('truetype')

@font-face
  font-family: Raleway
  font-style: italic
  font-display: swap
  src: url('../fonts/raleway/Raleway-LightItalic.ttf') format('truetype')
