@mixin image-shadow () {
    box-shadow: 0 16px 30px rgba(0,0,0,0.4),
                0 32px 50px rgba(0,0,0,0.2),
                0 50px 80px rgba(0,0,0,0.1);
}

@mixin image-shadow-light () {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1),
                0 8px 20px rgba(0,0,0,0.05),
                0 20px 30px rgba(0,0,0,0.025);
}

@mixin shadow-hover () {
  box-shadow: 0  8px 10px rgba(0,0,0,0.4),
              0 16px 15px rgba(0,0,0,0.3),
              0 45px 25px rgba(0,0,0,0.2),
              0 80px 30px rgba(0,0,0,0.1);
}

@mixin drop-shadow () {
    box-shadow: 0 0 10px rgba(0,0,0,0.50),
                0 0 30px rgba(0,0,0,0.75),
                0 0 90px rgba(0,0,0,0.80);
}

@mixin soft-shadow () {
    box-shadow: 0 0 10px rgba(0,0,0,0.01),
                0 0 30px rgba(0,0,0,0.05),
                0 0 90px rgba(0,0,0,0.03);
}
