html
  height: 100vh
  width: 100%

body
  +responsive-type
  height: 100%
  display: grid
  grid-template-rows: 1fr
  font-family: Raleway
  background: var(--color-foreground-primary)
  color: var(--color-background)
  line-height: $line-height
  overflow-x: hidden

*
  box-sizing: border-box
