h1
  font-family: Hatton
  font-size: $type-size-xxl

h2
  font-family: Hatton
  font-size: $type-size-xl

h3
  font-family: Hatton
  font-size: $type-size-xxl
  margin-bottom: 20px

h4
  font-family: Charlevoix Pro
  text-transform: uppercase
  letter-spacing: 0.3rem
  font-size: $type-size-xs
