main
  width: 160ch
  margin: 0 auto
  max-width: 100vw
  display: grid
  grid-template-columns: 32px 1fr 16px 1fr 32px
  +from($tablets)
    grid-template-columns: 60px repeat(4, 1fr 16px) 1fr 60px
  +from($desktops)
    grid-template-columns: 90px repeat(12, 1fr 16px) 1fr 90px

header
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  grid-column: span 6
  +from($tablets)
    grid-column: span 12
  +from($desktops)
    grid-column: span 28

section
  margin: 50px 0
  align-self: center
  grid-column: 2 / span 3
  +from($tablets)
    grid-column: 2 / span 9
  +from($desktops)
    grid-column: (1 + 5) / span (17)

footer
  grid-column: span 6
  display: flex
  justify-content: center
  text-align: center
  padding: 5vh
  padding-bottom: 20vh
  +from($tablets)
    grid-column: span 12
  +from($desktops)
    grid-column: span 28
