.footer
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  align-items: center
  .copyright
    margin-bottom: 10px
  .sub
    margin-top: 50px
    width: 50vw
    display: flex
    flex-direction: column
    align-items: center
    .nav-item
      width: 25vw
      margin-bottom: 10px
      transition: color 800ms ease
      &:hover
        color: var(--color-background)

.footer
  &.light
    background: var(--color-foreground-primary)
    color: var(--color-background)
    margin-top: 30vh

  &.dark
    color: var(--color-foreground-primary)
    background: var(--color-background)
