.home
  $inset: 60px
  +until($tablets)
    $inset: 30px
  width: 100vw
  height: 100vh
  /* background: var(--color-background)
  background: url("/assets/img/wersau.jpg")
  background-size: cover
  color: var(--color-foreground-primary)
  z-index: 999

  .logo
    position: fixed
    top: $inset + 20px
    right: $inset + 20px
    +until($tablets)
      top: 45vh
      right: 15vw
    opacity: 0

  .nav-home
    position: fixed
    top: $inset
    left: 0
    display: flex
    font-family: Raleway
    text-transform: uppercase
    letter-spacing: 0.1em
    justify-content: center
    align-items: center
    z-index: +2
    flex-direction: row
    .nav-home-item
      margin: 0
      padding-bottom: 0
      margin-right: 20px
      border-bottom: 0
      transition: color 300ms ease
      position: relative
      left: -500px
      &:nth-child(2)
        left: -1000px
      a
        border-bottom: 0
      &:hover
        color: #9D4EA5
    .line
      margin-right: 50px

  .network
    position: fixed
    left: $inset
    bottom: $inset
    display: flex
    flex-direction: column
    z-index: +2
    .network-icon
      border-bottom: 0
      transition: color 300ms ease
      position: relative
      left: -100px
      will-change: transform
      svg
        width: 24px
        height: 24px
        transition: color 300ms ease
        &:hover
          color: #9D4EA5

  .nav-sub
    position: fixed
    bottom: $inset
    right: $inset
    z-index: +2
    display: flex
    opacity: 0.3
    flex-direction: row
    +until($tablets)
      flex-direction: column
    .nav-sub-item
      position: relative
      top: 200px
      text-transform: uppercase
      letter-spacing: 0.05em
      margin-left: 50px
      font-size: $type-size-s
      +until($tablets)
        font-size: $type-size-regular
      transition: color 300ms ease
      will-change: transform
      a
        border-bottom: 0
      &:hover
        color: #9D4EA5

canvas
  z-index: +1
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
