.about-us
  margin-top: 4vh
  +from($tablets)
    margin-top: 20vh

  .preheading
    margin-left: 10%
    line-height: 2.0
    margin-bottom: 10px
    +from($tablets)
      font-size: $type-size-s

  .heading
    line-height: 1
    justify-content: flex-start
    margin-bottom: 2vh
    +from($tablets)
      margin-bottom: 5vh
      font-size: $type-size-xxl * 2.0

  .info-section
    margin-top: 15vh
    &.pdlq
      .quoteblock
        margin-top: 10vh
        display: flex
        flex-direction: column
        +until($tablets)
          font-size: $type-size-s
        .cite
          display: flex
          color: #A875B8
          line-height: 2.2
          margin: 0
          justify-content: flex-end
          font-style: italic
          .icon
            argin-right: 20px
            +until($tablets)
              display: none
        .cite-author
          text-transform: uppercase
          color: var(--color-background) !important
          text-align: right
          font-size: $type-size-s
    &.links
      &:nth-child(2n)
        text-align: center
        .heading
          justify-content: center
      .list
        line-height: 2.0
        display: grid
        +from($tablets)
          &[data-columns='3']
            grid-template-columns: repeat(3, 1fr)
          &[data-columns='2']
            grid-template-columns: repeat(2, 1fr)
